[Unit]
Description=telserver

[Service]
Type=simple
ExecStart=/server/telserver
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
